<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mcxiaoke.apptoolkit"
          android:versionCode="20130622"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="10"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RESTART_PACKAGES"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <!--below need root or system permission-->

    <application
            android:theme="@style/AppThemeLight"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:name=".AppContext">
        <activity
                android:name=".app.UIWelcome"
                android:label="@string/app_name"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".app.UIHome"
                android:label="@string/app_name"
                android:launchMode="singleTask"
                android:screenOrientation="portrait"/>

        <activity
                android:name=".app.UISettings"
                android:label="@string/app_name"
                android:screenOrientation="portrait"/>

        <!--<receiver-->
        <!--android:name=".receiver.PackageMonitor"-->
        <!--android:exported="false"-->
        <!--android:enabled="true">-->
        <!--<intent-filter>-->
        <!--<category android:name="android.intent.category.DEFAULT"/>-->

        <!--<action android:name="android.intent.action.PACKAGE_ADDED"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_REMOVED"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_CHANGED"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_REPLACED"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_RESTARTED"/>-->
        <!--<action android:name="android.intent.action.PACKAGE_DATA_CLEARED"/>-->
        <!--<action android:name="android.intent.action.UID_REMOVED"/>-->
        <!--<action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE"/>-->
        <!--<action android:name="android.intent.action.EXTERNAL_APPLICATIONS_UNAVAILABLE"/>-->

        <!--<data android:scheme="package"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->
    </application>
</manifest>
